:root {
    --background: white;
    --dark: tomato;
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    min-height: 100vh;
    background: var(--background);
  }
  
  .box {
    position: absolute;
    left: 12.5px;
    bottom: 343px;
    background: var(--dark);
    height: 12.8rem; /* Can use SCSS to set the number n based on the number of steps required */
    width: 7.55rem;
    outline: 0;
    overflow: hidden; /* Set to none to see fill square outside box */
    z-index: -1;
    display: inline-block;
    border-radius: 8px 8px 15px 15px;
  }

  .box::before {
    /* content: "FILL";
    font-size: 2rem;
    color: var(--background);
    font-family: Arial, Helvetica, sans-serif; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .box::after {
    content: "";
    position: absolute;
    bottom: -50%; /* Center square */
    left: -50%; /* Center square */
    height: 200%;
    width: 200%;
    background-color: var(--background);
    border-radius: 35%; /* Smooth edges to appear like liquid */
    animation: spin 8s ease 0s 1 normal forwards; /* Set to forwards to freeze on last frame */
  }
  
  @keyframes spin {
    0% {
      transform: translateY(0) rotate(0deg);
    }
    15% {
        transform: translateY(-15%) rotate(50deg);
    }
    30% {
        transform: translateY(-30%) rotate(60deg);
    }
    50% {
        transform: translateY(-50%) rotate(100deg);
    }
    70% {
        transform: translateY(-70%) rotate(200deg);
    }
    80% {
        transform: translateY(-80%) rotate(250deg);
    }
    100% {
      transform: translateY(-100%) rotate(350deg);
    }
  }

#ketchup_bottle {
    height: 250px;
    width: auto;
    z-index: 1;
    left:10px;
    top:10px;
}